.mailer-tester__header {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.82), rgba(0, 0, 0, 0.55)), center / cover no-repeat url('../../../assets/images/jpg/bg-header-footer.jpg');
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 100px;

  &_logo {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }

  &_menu {
    margin: auto;

    nav ul {
      display: flex;
      list-style: none;
      margin: auto;
      padding: unset;

      li {
        padding: 0 20px;

        a {
          text-decoration: none;
          color: #6a0000;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
