.mailer-tester__thanks {
  mat-dialog-actions {
    position: relative;
    min-height: 20px;

    button {
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      background: none;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }


  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #6a0000;
  }

  mat-dialog-content {
    text-align: center;

    h3 {
      font-size: 24px;

      br {
        display: none;
      }

      svg {
        width: 28px;
      }
    }

    p {
      font-size: 16px;

      br {
        display: none;
      }
    }
  }

  @media screen and (max-width: 575.98px) {
    h2 {
      font-size: 22px;
    }

    mat-dialog-content {
      h3 {
        font-size: 14px;

        br {
          display: block;
        }

        svg {
          width: 20px;
        }
      }

      p {
        font-size: 12px;

        br {
          display: block;
        }
      }
    }
  }
}
