.mailer-tester__registration {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), center/contain repeat url('../../../assets/images/png/bg-main.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &_container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    &-title {
      font-size: 20px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--text {
        padding-bottom: 10px;

        span {
          font-size: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

