<section class="mailer-tester__registration">
  <div class="mailer-tester__registration_container">
    <div class="mailer-tester__registration_container-title">
      <h2>Registration Form</h2>
    </div>
    <div class="mailer-tester__registration_container-content">
      <div class="mailer-tester__registration_container-content--text">
        <span>Fill out the form to get more information</span>
      </div>
      <div class="mailer-tester__registration_container-content--button">
        <button mat-button (click)="openPopupRegistrationForm()" data-modal="Registration" class="click-button">REGISTER NOW</button>
      </div>
    </div>
  </div>
</section>
