<section class="mailer-tester__registered">
  <div class="mailer-tester__registered_content">
    <ul class="users">
      <li class="user" *ngFor="let user of users">
        <div class="user__id">id: {{ user.registrationUserId }}</div>
        <div class="user__first">name: {{ user.registrationFirstName }}</div>
        <div class="user__last">last name: {{ user.registrationLastName }}</div>
        <div class="user__email">e-mail: {{ user.registrationEmail }}</div>
        <div class="user__age">age: {{ user.registrationAge }} y.o.</div>
        <div class="user__phone">phone: {{ user.registrationPhone }}</div>
      </li>
    </ul>
  </div>
</section>
