<section class="mailer-tester__request">
  <div class="mailer-tester__request_container">
    <div class="mailer-tester__request_container-title">
      <h2>Request Form</h2>
    </div>
    <div class="mailer-tester__request_container-content">
      <div class="mailer-tester__request_container-content--text">
        <span>Sign Up</span>
      </div>
      <div class="mailer-tester__request_container-content--button">
        <button mat-button (click)="openThanksPopupReq()" data-modal="request">Register now</button>
      </div>
    </div>
  </div>
</section>
