
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mailer-tester-primary: mat.define-palette(mat.$indigo-palette);
$mailer-tester-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mailer-tester-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mailer-tester-theme: mat.define-light-theme((
  color: (
    primary: $mailer-tester-primary,
    accent: $mailer-tester-accent,
    warn: $mailer-tester-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mailer-tester-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.click-button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #6a0000;
  font-size: 18px;
  font-weight: 500;
  padding: 16px 24px;
  cursor: pointer;
  transition: ease-in-out .3s;

  &:hover {
    background-color: #9e0000;
  }
}

.lil-text {
  font-size: 10px;
}

.validation-error {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: rgb(184, 0, 0);
  position: absolute;
  bottom: 0;
}

.bold {
  font-weight: 600;
}
